{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<h1 align = 'center'> Bilješke </h1>
<ul class="list-group list-group-flash" id="notes">
    {% for note in user.notes%}
    <li class="list-group-item mt-3 mb-4">{{note.data}}
        <button type="button" class="btn-close" onClick="deleteNote({{ note.id }})"> </button>
    </li>
    {% endfor%}
</ul>
<form method = 'POST'>
    <textarea name="note" id="note" cols="5" rows="1" class="form-control"></textarea>
    <br>
        <div align = 'center' class="mb-3">
            <button type="submit" class="btn btn-dark">Dodaj</button>
        </div>
    
</form>
{% endblock %}